//--Tablets Landscape--//
	
@media #{$landscape} {

	#bg1{
		height: 760px;
		
	}


}

//--Mobile--//
@media (max-width: 600px) {
.circle {

	width: 200px;
	height: 200px;

	}
	
.hi {
		
		font-size: 30px;
		
		}

.sub {
		
		font-size: 20px;;
	 
}

.work {
	
	font-size: 60px;
		
}

.about {
	
	font-size: 60px;
		
}

.ribbon {
    background: #eee;
    border-left: 1px dashed #aaa;
    border-right: 1px dashed #aaa;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    height: 30px;
    margin: 0 5px;
    position: relative;
    width: 90px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    a{
	    margin-left: 27%;
	    line-height: 40px;
	    color: #000;
	    opacity: 0.5;
    }
}


#bg3,#bg2 {
	height: auto;
	width: auto;
}

#bg1{
		height: 490px;
		width: auto;
	}

}