#PortGrid{
	//padding-top: 5%;
	
}


.work {
	font-weight: normal;
	font-size: 80px;
	text-align: center;
	margin: 0 0 0 0;
	color: #000;
	opacity: 0.3;
		
}

.sexy_line{ 
	margin: 0 0 30px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#eee), to(#eee), color-stop(50%, #aaa));


}