// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/foundation-global"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";




/*---------Styles Start Here----------*/

/*------mother-------*/

body,html {
  width: 100%;
  height: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #eaeaea;
}


/*-------Head---------*/

#headWrap {
	padding-top: 5%;
	color: black;
	
	h2{
		color: black;
		}
	
		p{
			text-align: center;
		
			i{
			font-size: 50px;
		}
		
	}
	
}

.circle {
	background-image:url(../images/me.jpg);
	display: block;
	width: 350px;
	height: 350px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.hi {
		font-weight: normal;
		font-size: 80px;
		text-align: center;
		margin-bottom: 0;
		color: black;
		}

.sub {
		font-weight: normal;
		font-size: 30px;;
		text-align: center;
		margin-bottom: 0;
		color: black;
		 
}


#bg1 {
		background: url(../images/bg-42.jpg) no-repeat center center fixed;
		max-width: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
		-moz-box-shadow:    inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow:         inset 0 0 10px #000000;
		
	
}



/*-------PortGrid---------*/

#PortGrid{
	//padding-top: 5%;
	
}


.work {
	font-weight: normal;
	font-size: 80px;
	text-align: center;
	margin: 0 0 0 0;
	color: #000;
	opacity: 0.3;
		
}

.sexy_line{ 
	margin: 0 0 30px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#eee), to(#eee), color-stop(50%, #aaa));


}

#bg2 {
		background-image: url(../images/4.png);
		background-repeat: repeat;
		background-position: top left;
		background-attachment: scroll;	

}

#bg3 {
		background-image: url(../images/2.png);
		background-repeat: repeat;
		background-position: top left;
		background-attachment: scroll;
		-moz-box-shadow:    inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow:         inset 0 0 10px #000000;
}

/*-----------PortPages--------------*/

.lead {
  height: 750px;
  width: 100%;
  position: relative;
  background-color: #eaeaea;
}

#InfoGrid{
	padding-top: 5%;

}

.ribbon {
    background: #eee;
    border-left: 1px dashed #aaa;
    border-right: 1px dashed #aaa;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    height: 40px;
    margin: 0 5px;
    position: relative;
    width: 90px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    a{
	    margin-left: 27%;
	    line-height: 40px;
	    color: #000;
	    opacity: 0.5;
    }
}
.ribbon:after,
.ribbon:before {
    border-top: 15px solid #eee;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.ribbon:after {
    border-left: 50px solid transparent;
    right: -6px;
}
.ribbon:before {
    border-right: 50px solid transparent;
    left: -6px;
}

	#prevLink {
		left: 30px;
		

			}
			#nextLink {
				right: 30px;
				}
				.nextPrevLink {
					position: fixed;
					top: 45%;
					display: block;
					font-weight: bold;
					color: #333;
					text-decoration: none;
					width: 66px;
					height: 140px;
					z-index: 99;
					opacity: 0.8;
					-webkit-transition-property: all;
					-ms-transition-property: all;
					transition-property: all;
					-webkit-transition-duration: 1s;
					-ms-transition-duration: 1s;
					transition-duration: 1s;
					.label {
						display: block;
						position: absolute;
						top: 60px;
						left: 14px;
						font-size: 30px;
						opacity: 0.5;

							}

							}

/*--------Footer----------*/

#copyright {
		background: #3f3f3f;
		color: #fff;
		padding: 11px 0;
	li{
		color:#fff;
		a {
			color:#fff;
		}
	}		
}