/*------mother-------*/
/* line 3, ../sass/mother.scss */
body, html {
  width: 100%;
  height: 100%; }

/* line 8, ../sass/mother.scss */
.slide {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #eaeaea; }
